

@media (max-width: 1439px) {
    p{
        font-size: 18px;
        line-height: 28px;
    }

    .content{
        padding: 0 40px;
    }
    .section-hero .black-bg{
        display: none;
    }
    
    h1.strong{
        color: var(--almost-black);
        mix-blend-mode: normal;
        display: none;
    } 
    .section-hero .hero-image{
        background-image: url(../assets/tablet/image-hero.jpg);
        min-width: 437px;
        width: 437px;
        height: 700px;
    }
    .page-description__container{
        row-gap: 48px;
        top: 140px;
        right: 200px;
    }

    .page-description__container h1.strong{
        display: inline-block;
        width: fit-content;
        position: static;
        font-size: 70px;
        line-height: 65px;
    }
    .section-body{
        padding-top: 120px;
        justify-content: center;
        column-gap: 68px;
    }

    h2.strong{
        font-size: 50px;
        line-height: 45px;
    }

    .content-desctiption{
        width: 225px;
    }

    .section-body .body-content__image{
        width: 398px;
        height: 400px;
        background-image: url(../assets/tablet/image-grid-1.jpg);
    }

    .gallery-content__image{
        width: 398px;
        height: 720px;
        background-image: url(../assets/tablet/image-grid-2.jpg);
    }

    .gallery-content__container{
        width: 280px;
    }

    .gallery-content__image-2{
        width: 100%;
        background-image: url(../assets/tablet/image-grid-3.jpg);
        
    }
    .gallery-content__black{
        width: 224px;
        height: 225px;
        padding: 85px 28px;
    }
    .gallery-content__black h2, .gallery-content__black p{
        width: 100%;
    }
    .section-gallery{
        padding-bottom: 120px;
        column-gap: 12px;
    }
    .footer-container{
        padding: 56px 40px;
    }
    .footer-container .content{
        column-gap: 60px;
    }
    .footer-container p{
        width: 280px;
        font-size: 16px;
    }

    #location .btn-move{
        left: 100px;
    }
    .location-hero{
        background-image: url('../assets/tablet/image-map@2x.png');
    }

    .location-content{
        padding: 88px 40px;
        column-gap: 68px;
        min-height: fit-content;
    }

    .location-content__container{
        justify-content: flex-start;

    }

    .location-content .location-content__title{
        font-size: 55px;
    }

    .location-content p{
        font-size: 18px;
        
    }
    .footer-container.footer-location{
        display: flex;
        justify-content: space-between;

    }
    .footer-container.footer-location p{
        color: var(--almost-black);
    }
}

@media (max-width: 1080px) {
    .page-description__container{
        row-gap: 48px;
        top: 140px;
        right: 40px;
    }
}

@media (max-width: 767px){
    .location-hero{
        background-image: url(../assets/mobile/image-map.png);
        min-height: 550px;
    }
    #location .btn-move{
        left: 0;
    }
    .location-content{
        flex-direction: column;
        row-gap: 48px;
        padding: 48px 16px;
    }
    .footer-container.footer-location{
        flex-direction: column;
        row-gap: 38px;
        padding: 48px 32px;
    }
    .footer-container p{
        width: 100%;
        max-width: 100%;
    }
    .section-hero{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 32px
    }
    .section-hero .hero-image{
        background-image: url(../assets/mobile/image-hero.jpg);
        width: 100%;
        min-width: 100%;
        min-height: 240px;
        height: 100%;
    }
    .page-description__container{
        position: inherit;
        top: 0;
        left: 0;
        padding: 0 16px;
        max-width: 100%;
        row-gap: 32px;
    }
    .page-description__container h1.strong{
        font-size: 60px
    }
    .content{
        padding: 0 16px;
    }
    .section-body{
        padding-top: 120px;
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 25px;
    }
    .content-desctiption{
        width: 100%;
    }
    .section-gallery{
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }
    .section-body .body-content__image{
        width: 100%;
    }
    .gallery-content__image{
        background-image: url(../assets/mobile/image-grid-2.jpg);
        width: 100%;
        min-height: 480px;
        height: 100%;
        flex-shrink: 0;
        background-repeat: no-repeat;
        display: block;
        background-size: 100%;
    }
    .gallery-content__container{
        width: 100%;
        align-items:center;
        row-gap: 16px;
        margin-bottom: 120px;
    }
    .gallery-content__image-2{
        background-image: url(../assets/mobile/image-grid-3.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
    }
    .gallery-content__black{
        width: calc(100% - 48px);
        height: 100%;
        padding: 48px 24px;
    }
    .footer-container .content{
        flex-direction: column;
        row-gap: 38px;
    }
}