@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&display=swap');

*{
    font-family: 'Big Shoulders Display', sans-serif;
    margin: 0;
}

:root{
    --gold: #D5966C;
    --almost-black: #151515;
    --dark-grey: #444;
    --white: #FFF;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Big Shoulders Display', sans-serif;
}

p{
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    line-height: 32px;
    color: var(--dark-grey);
}

.strong{
    font-weight: 900;
    text-transform: uppercase;
}

h2.strong{
    font-size: 60px;
}

.content{
    padding: 0px 165px;
    max-width: 1110px;
    margin: 0 auto;
}

.btn-move{
    width: 208px;
    height: 72px;
    color: var(--white, #FFF);
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    background-color: var(--almost-black);
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3.63px;
    text-transform: uppercase;
    position: relative;
}

a{
    text-decoration: none;
}

.btn-move:hover{
    background-color: var(--gold);
    cursor: pointer;
}

#location .btn-move:hover:before, #home .btn-move:hover:after{
    background-color:var(--almost-black);
}

/* #home .btn-move{
    margin-right: 56px;
} */

#location .btn-move{
    margin-left: 56px;
    position: fixed;
    left: 156px;
}

#location .btn-move::before{
    content: url(../assets/icon-arrow-left.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 72px;
    background-color: var(--gold);
    position: absolute;
    top: 0;
    left: -56px;
}


#home .btn-move::after{
    content: url(../assets/icon-arrow-right.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 72px;
    background-color: var(--gold);
    position: absolute;
    top: 0;
    right: -56px;
}

.section-body{
    padding-top: 180px;
    margin-bottom: 30px;
}

.section-gallery{
    padding-bottom: 180px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.section-hero{
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.section-hero .black-bg{
    background-color: var(--almost-black);
    min-width: 450px;
    height: 800px;
}

.section-hero .hero-image{
    background-image: url(../assets/desktop/image-hero.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 540px;
    height: 800px;
    transition: background-size 1000ms linear;
}

.section-hero .hero-image:hover{
    background-size: 110%;
    transition: all 1000ms linear;
}

h1.strong{
    position: absolute;
    left: 160px;
    top: 189px;
    color: var(--white);
    font-size: 96px;
    font-weight: 900;
    width: 500px;
    margin: 0;
    mix-blend-mode: difference;
}

.page-description__container h1.strong{
    display: none;
}

.page-description__container{
    position: absolute;
    right: 164px;
    top: 190px;
    max-width: 350px;

    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.section-body{
    display: flex;
    justify-content: space-between;
}

.section-body .body-content__image{
    background-image: url(../assets/desktop/image-grid-1.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 635px;
    height: 400px;
    transition: background-size 1000ms linear;
}

.section-body .body-content__image:hover{
    background-size: 110%;
    transition: all 1000ms linear;
}

.gallery-content__image-2{
    background-image: url(../assets/desktop/image-grid-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 445px;
    height: 313px;
}

.footer-container{
    background-color: var(--almost-black);
    padding: 80px 165px;
    color: var(--white);


}

.footer-container .content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 140px;
    padding: 0;
}

.footer-container h4 .footer-logo{
    font-size: 48px;
}

.footer-container p{
    max-width: 430px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: var(--white);
}

.footer-container .footer-social__icons{
    color: var(--white);
    width: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-container .footer-social__icons  img{
    height: 20px;
    fill: var(--white);
}

.footer-container.footer-location{
    display: flex;
    justify-content: space-between;
    background-color: var(--gold);
    color: var(--almost-black);
}

.footer-container.footer-location p{
    color: var(--almost-black);
}

.footer-container.footer-location .footer-social__icons img{
    filter: invert(1) grayscale(100%) brightness(200%);
}

.footer-social__icons img:hover{
    filter: invert(66%) sepia(6%) saturate(3054%) hue-rotate(341deg) brightness(100%) contrast(57%);
    cursor: pointer;
}

.content-description, .gallery-content__black{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.gallery-content__black{
    padding: 58px 48px;
}

.gallery-content__black p{
    color: var(--white);
    font-weight: 200;
}



.gallery-content__image{
    background-image: url(../assets/desktop/image-grid-2.jpg);
    height: 720px;
    width: 635px;
}

.gallery-content__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.content-description{
    width: 350px;
}

.gallery-content__black{
    background-color: #151515;
    color: #fff;
    width: 349px;
}

.gallery-content__black h2, .gallery-content__black p{
    width: 350px;
}

.location-hero{
    background-image: url('../assets/desktop/image-map@2x.png');
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

.location-content{
    background-color: var(--almost-black);
    color: var(--white);
    min-height: 316px;
    padding: 104px 165px 128px;
    display: flex;
    justify-content: space-between;
}

.location-content p{
    color: var(--white);
}

.location-content__title{
    font-size: 70px;
    width: 350px;
}

.location-content__container{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 32px;
}

.location-content__container .location-content__subtitle{
    color: var(--gold);
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
}

.location-content__address{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}


.location-content__address p{
    font-size: 22px;
   font-weight: 300;
}
