@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&display=swap');

*{
    font-family: 'Big Shoulders Display', sans-serif;
    margin: 0;
}

:root{
    --gold: #D5966C;
    --almost-black: #151515;
    --dark-grey: #444;
    --white: #FFF;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Big Shoulders Display', sans-serif;
}

p{
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
}

.strong{
    font-weight: 900;
    text-transform: uppercase;
}

h2.strong{
    font-size: 60px;
}

.content{
    padding: 0px 165px;
}

.btn-move{
    width: 208px;
    height: 72px;
    color: var(--white, #FFF);
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    background-color: var(--almost-black);
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .btn-move{
    margin-right: 56px;
}

#location .btn-move{
    margin-left: 56px;
    position: fixed;
    left: 156px;
}

#location .btn-move::before{
    content: url(../assets/icon-arrow-left.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 72px;
    background-color: var(--gold);
    position: relative;
    top: 0;
    left: -56px;
}


#home .btn-move::after{
    content: url(../assets/icon-arrow-right.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 72px;
    background-color: var(--gold);
    position: relative;
    top: 0;
    right: -56px;
}

.section-body{
    padding-top: 180px;
}

.section-gallery{
    padding-bottom: 180px;
}

.footer-container{
    background-color: var(--almost-black);
    padding: 80px 165px;
    color: var(--white);

    display: flex;
    align-items: flex-start;
    column-gap: 140px;
}

.footer-container h4 .footer-logo{
    font-size: 48px;
}

.footer-container p{
    max-width: 430px;
    font-size: 18px;
    font-weight: 300;
}

.footer-container .footer-social__icons{
    color: var(--white);
    width: 100px;
    margin-left: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-container .footer-social__icons  img{
    height: 20px;
    fill: var(--white);
}

.footer-container.footer-location{
    background-color: var(--gold);
    color: var(--almost-black);
}

.footer-container.footer-location .footer-social__icons img{
    filter: invert(1) grayscale(100%) brightness(200%);
}

.content-desctiption, .gallery-content__black{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.content-desctiption{
    width: 350px;
}

.gallery-content__black{
    width: 445px;
    background-color: #151515;
    color: #fff;
}

.gallery-content__black h2, .gallery-content__black p{
    width: 350px;
}

.location-hero{
    background-image: url('../assets/desktop/image-map@2x.png');
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

.location-content{
    background-color: var(--almost-black);
    color: var(--white);
    min-height: 316px;
    padding: 104px 165px 128px;
    display: flex;
    justify-content: space-between;
}

.location-content__title{
    font-size: 70px;
    width: 350px;
}

.location-content__container{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 32px;
}

.location-content__container .location-content__subtitle{
    color: var(--gold);
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
}

.location-content__address{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}


.location-content__address p{
    font-size: 22px;
   font-weight: 300;
   line-height: 32px;
}

.location-content__description{
    line-height: 32px;
}